<script> 
	var xhr = new XMLHttpRequest();
	xhr.open("GET", "https://api.edmunds.com/api/vehicle/v2/styles/100987493/engines?fmt=json&api_key=2tgznn7tmcrp2fs6aa4xjqyg",false );
	xhr.send(null);
	var test = JSON.parse(xhr.responseText);
	console.log(test);
	document.getElementById('poop').innerHTML = 'APIs for real dummies '+ '<a href = "http://52.38.214.0:1995/intro">Start </a>';
</script>



<div id = "bigstuff"> 
	Welcome! 
	This is a site to teach API usage throug the Edmunds API.
</div> 	
<br>
<div style = "text-align: center; background-color: #C0C0C0;"> 
	<h2> What will we be doing? </h2> 
		<li> Learning basic API lingo</li> 
		<li> Disecting the Edmunds API string </li> 
		<li> How to make your very own API calls </li> 
		<li> How to make API calls to Edmunds </li> 
		<li> Using data from Edmunds to build something neat </li> 
		<li> How to grab pictures from imgur (Bonus!) </li> 

</div> 
