<script> 
	document.getElementById("poop").innerHTML = '<a href = "http://52.38.214.0:1995"> Home</a>' +'  APIs for real dummies '+ '<a href = "http://52.38.214.0:1995/start"> Continue </a>';
</script> 


<div style = "text-align: center; background-color: #C0C0C0;"> 
	<h2 style = "text-align: center;">What is an API?</h2>
		An API (Application Program Interface) simply put is the way YOU talk to a website's server. 
		Without it, the internet age would come to a grinding halt, if no one could talk to the vital servers 
		for any major company. Whether it be Facebook, Netflix, Youtube, etc. 
</div> <br> 

<div style = "text-align: center; background-color:#C0C0C0"> 
	<h2 style = "text-align: center;"> A good API to learn from </h2>
		Now, Edmunds a car review website, has a rather straightforward API documentation. 
		Although it can be still confusing to navigate and understand the basic lingo, that doesn't seem to be aimed for beginners.
		<a href = "http://edmunds.mashery.com/io-docs"> here </a>
</div> <br> 

<div style = "text-align: center; background-color: #C0C0C0"> 
	<h2 style = "text-align: center;"> Baby Steps </h2> 
		One of the first things you have to do is get an API KEY for almost any application you plan to work with.
		You can head over <a href = "http://developer.edmunds.com/"> here </a> for the link to get you a API key.
</div> <br> 

<div style = "text-align: center; background-color: #C0C0C0">  
	<h2 style = "text-align: center;"> But what is an API key? </h2> 
	An API key is simply a way that the database knows who is trying to talk to their servers. <br> 
	It usually comes with a rate limit, so people can't make inifite requests to the database and bog it down. <br> 
</div> <br>

<div style = "text-align: center; background-color: #C0C0C0"> 
	<h2> Crazy nerd lingo </h2> 
	Typically these are all included in API documentation, and tossed around as often as the word 'the' <br> 
	but if you are new to using API's these might has well be in spanish. (Unless you speak spanish.) <br> <br> 
		<li>  Endpoints </li> 
			This is a path on the server/website, so when you see all the /text/here/more/stuff <br> that is 
				 Navigating through the server on what webpage you are on. If you look at the URL bar it says <br> 
				 <code> 52.38.214.0:1995/start</code> where the <code> "/start" </code>is the endpoint </li> 
		<li> URI </li> 
			A URI or Uniform Resource Identifier, is similar to an endpoint in the sense it leads you down a certain path <br> 
			of the website to access specific functions, or get specific data. 
		<li> SDK </li> 
			A SDK (Software Development Kit) could be anything that the software engineers have provided to build software of a certain application <br> 
			It can be as big or as small as it needs to be, everything from complete libraries to build Java applications. Or a string of small API's <br> 
			Like they are with Edmunds. 
		<li> AJAX </li> 
			AJAX or (Asynchronous Javascript and XML) is just a way for you, and your computer to talk to a server without messing around with your webpage  
			and having it reload. 
</div> <br> 

