<!doctype html>
<html>
<head>
	<style> 
		body{
			font-family: Florence, cursive;
		}
		#poop {
			height:120px;
			line-height: 120px;
			width: 100%;
			text-align: center;
			border-radius: 25px;
			background-color: orange;
			border: 3px solid #26A6CD;
			top: 0px;
			position: fixed;
		}	
		h2{
			background-color: #26A6CD;
		}
		ul {
			position: center; 
			top: 50%; 
			left: 50%;
		}
		div {
			font-size: 16px;
			border-radius: 15px;
			
		}
		#bigstuff {
			height:270px; 
			line-height: 270px;
			font-size: 20px;
			vertical-align: middle;
			text-align:center;	
			border-radius: 30px;	
			background-image: url("http://blogs.dw.com/ice/files/ice-triangle.jpg")
		}
		
		#projector {
			background-color: white;
		}
		
		#bottom{
			background-color: orange;
			height: 100px; 
			line-height: 100px; 
			text-align: center; 
		}
		img {
			display: block; 
			margin: 0 auto;
		}
	</style>
	
<title>El Home Page</title>
</head>
<h1 id = "poop">
API's 101.1.0
</h1>

<body><br><br><br><br><br><br><br><br>
<img id = "pics" src="http://i.imgur.com/6aqaXVGm.jpg"/>
	<br><br><br>
	<div id = "junk"> </div> 
	{{{body}}} 
	<br> 
	
</body>

<div id = "bottom"> 
By Brandon Dring
</div> 
</html>