<script> 
	document.getElementById('poop').innerHTML = '<a href = "http://52.38.214.0:1995/pictures"> Back up!</a>'+ '  Reviews  '+ '<a href = "http://52.38.214.0:1995">Start over!</a>';
</script> 
<div style = "text-align: center; background-color: #C0C0C0"> 
	<h2> TLDR guide </h2> 
		<li> A API is simply how you and your computer talk to a server or a website, GETting or POSTing data. </li>  <br> 
		<li> Endpoints are how you specify what specific method you want to use on their server. </li><br> 
		<li> JSON is just a fancy way of turning near unreadable data, readable </li><br> 
		<li> Parse said JSON data with the '.'operator, or '[]' array notation </li><br> 
		<li> Make 99% of API calls through JS with <code> XMLHttpRequest() </code> </li><br> 
		<li> If you want to change your webpage with the data recieved use <code> innerHTML </code> </li><br> 
</div> 
<div style = "text-align: center; background-color: #C0C0C0"> 
	<h2> Review! </h2> 
		So to Recap we have pulled from various websites, I have shown how to get cheesy Chuck Norris jokes, get car engine <br> 
		details, along with expert reviews from Edmunds.com. Navigate a JSON object returned from an API, and even pull random <br> 
		pictures from imgur. All of these things can be combined into helping you add more data to any website you might be making. <br> 
		There are a couple things that I hope you learned from this little website. If not, go back and read through it again. <br> 
		Maybe if I get bored I will add some more content if I learn some more neat little API tricks.. But that is a stretch. <br> 
		What I hope is that you came away knowing.. <br> 
		<form> 
			<input type = "checkbox"> Understand basic API lingo <br> 
			<input type = "checkbox"> Understand how to read API endpoints to get Data <br> 
			<input type = "checkbox"> How to make your very own GET API calls to Edmunds <br> 
			<input type = "checkbox"> Able to parse data returned from Edmunds navigate JSON <br> 
			<input type = "checkbox"> Ability to populate web sites with Edmunds information, or imgur photos <br> 
		</form> 
</div> 